# Various file types
*.pyc
*.swp
*.DS_Store
dist/*
build/*
temp/*

# Related to documentation
docs/site/*
docs/theme/*
docs/sources/*
aether.egg-info/*

# Related to testing
.coverage
.cache

# Leftovers from IDE's and other developer environments
.idea
.vscode
